.scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #3c3d40; /* gray-500 */
    
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    filter: brightness(200%); /* gray-500 */
    
    cursor: pointer;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #262629; /* gray-200 */
}