.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #4f4f4f; /* gray-500 */
    border-radius: 9999px;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #262626; /* gray-500 */
    border-radius: 9999px;
    cursor: pointer;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #302f2f; /* gray-200 */
}